<h1>Programmes</h1>
<table class="zebra-striped">
	<tr>
		<th>#</th>
		<th>English</th>
		<th>French</th>
		<th>Spanish</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% i = 0 %>
	<% @programmes.each do |programme| %>
	<tr>
		<td><%= i += 1 %></td>
		<td><%= programme.programme_name_en %></td>
		<td><%= programme.programme_name_fr %></td>
		<td><%= programme.programme_name_es %></td>
		<td><%= link_to 'View', programme_path(programme)%></td>
		<td><%if is_user_admin %><%= link_to 'Edit', edit_programme_path(programme)%><% end %></td>
		<td><%if is_user_admin %><%= link_to 'Delete', programme, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
	</tr>
	<%end%>
</table>