<!DOCTYPE html>
<html>
<head>
  <title>TeachReach</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:45px;">
	<%= render "shared/navigation" %>
	<div class="container">
		<div id="user_nav">

		</div>

		<% flash.each do |name, msg, type| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-message #{name}" %>
		<!--<a class="close" href="#">×</a>-->
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
