<%= form_for @question, :html => {:class => 'form-stacked'} do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
     <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
     <ul>
     	<% @question.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
	<%end%>
  </ul>
   </div>
<% end %>

<div class="field" style="float:left; margin-right:10px;">
	<%= f.label :question_en, "Question EN" %>
	<%= f.text_area :question_en, :rows => 10, :value => @question.question_en ? @question.question_en : "Not available" %>
</div>

<div class="field" style="float:left; margin-right:10px;">
	<%= f.label :question_fr, "Question FR" %>
	<%= f.text_area :question_fr, :rows => 10, :value => @question.question_fr ? @question.question_fr : "Pas disponible" %>
</div>

<div class="field">
	<%= f.label :question_es, "Question ES" %>
	<%= f.text_area :question_es, :rows => 10, :value => @question.question_es ? @question.quesiton_es : "No está disponible" %>
</div>

<div class="field" style="float:left; margin-right:10px;">
	<%= f.label :feedback_en, "Feedback EN" %>
	<%= f.text_area :feedback_en, :rows => 10, :value => @question.feedback_en ? @question.feedback_en : "Not available" %>
</div>

<div class="field" style="float:left; margin-right:10px;">
	<%= f.label :feedback_fr, "Feedback FR" %>
	<%= f.text_area :feedback_fr, :rows => 10, :value => @question.feedback_fr ? @question.feedback_fr : "Pas disponible" %>
</div>

<div class="field">
	<%= f.label :feedback_es, "Feedback ES" %>
	<%= f.text_area :feedback_es, :rows => 10, :value => @question.feedback_es ? @question.feedback_es : "No está disponible" %>
</div>

<div class="field">
	<%= collection_select(:type, :id, @types, :id, :value) %>
</div>

<%= f.hidden_field :quiz_id, :value => @quiz.nil? ? @question.quiz_id : @quiz.id %>

<div class="actions">
<%= f.submit :class => 'btn primary'%>
</div>

<% end %>
