<%= form_for @question, :html => {:class => 'form-stacked'} do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
     <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
     <ul>
     	<% @question.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
	<%end%>
  </ul>
   </div>
<% end %>

<div class="field">
	<%= f.label :question_en %>
	<%= f.text_area :question_en %>
</div>

<div class="field">
	<%= f.label :question_fr %>
	<%= f.text_area :question_fr %>
</div>

<div class="field">
	<%= f.label :question_es %>
	<%= f.label :question_es %>
</div>

<% end %>
