<h1>Question</h1>
<p>
	<em>EN:</em>
	<%= @question.question_en %>
</p>
<p>
	<em>FR:</em>
	<%= @question.question_fr %>
</p>
<p>
	<em>ES:</em>
	<%= @question.question_es%>
</p>

<h2>Feedback</h2>
<p>
	<em>EN:</em>
	<%= @question.feedback_en %>
</p>
<p>
	<em>FR:</em>
	<%= @question.feedback_fr %>
</p>
<p>
	<em>ES:</em>
	<%= @question.feedback_es %>
</p>

<!-- TODO: OPTIONS SHOW -->
<h2>Options</h2>
