<h1>Question</h1>
<p>
	<em>EN:</em>
	<%= @question.question_en %>
</p>
<p>
	<em>FR:</em>
	<%= @question.question_fr %>
</p>
<p>
	<em>ES:</em>
	<%= @question.question_es%>
</p>

<h2>Feedback</h2>
<p>
	<em>EN:</em>
	<%= @question.feedback_en %>
</p>
<p>
	<em>FR:</em>
	<%= @question.feedback_fr %>
</p>
<p>
	<em>ES:</em>
	<%= @question.feedback_es %>
</p>

<p>
	<em>Question Type:</em>
	<%= @question.type_id %> <!-- TODO: Show actual question type here -->
</p>

<!-- TODO: OPTIONS SHOW -->
<h2>Options</h2>
<%if is_user_admin %>
	<%= link_to 'New Option', {:controller => "options", :action => "new", :question_id => @question }, :class => 'btn primary'%>
<%end%>

<table class="zebra-striped">
	<tr>
		<th>Option</th>
		<th>EN</th>
		<th>Answer</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% i = 0 %>
	<% @options.each do |option| %>
	<tr>
		<td>
			<%= i += 1 %>
		</td>
		<td>
			<%= option.content_en %>
		</td>
		<td>
			<%= option.answer ? 'Y' : 'N' %>
		</td>
		<td><%= link_to "Show", option_path(option)%></td>
		<td><%if is_user_admin %><%= link_to "Edit", edit_option_path(option) %><%end%></td>
		<td><%if is_user_admin %><%= link_to 'Delete', option, :confirm => 'Are you sure?', :method => :delete %><%end%>
		
	</tr>
	<% end %>
	
</table>