<h1>Part: <%= @part.part_name_en %></h1>

<h2>Quizzes</h2>
<%if is_user_admin %>
	<%= link_to 'New Quiz', {:controller => "quizzes", :action => "new", :part_id => @part }, :class => 'btn primary'%>
<%end%>
<table class="zebra-striped">
	<tr>
		<th>Number</th>
		<th>Quiz Name EN</th>
		<th>Quiz Name FR</th>
		<th>Quiz Name ES</th>
		<th>Published</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% i = 0 %>
	<% @part.quizzes.each do |quiz| %>
	<tr>
		<td><%= i += 1 %></td>
		<td><%= quiz.quiz_name_en %></td>
		<td><%= quiz.quiz_name_fr %></td>
		<td><%= quiz.quiz_name_es %></td>
		<!-- TODO: Make dynamic-->
		<td><input type="checkbox" value="false" disabled></td>
		<td><%= link_to "Show", quiz_path(quiz)%></td>
		<td><%if is_user_admin %><%= link_to "Edit", edit_quiz_path(quiz) %><%end%></td>
		<td><%if is_user_admin %><%= link_to 'Delete', quiz, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
	</tr>
	<%end%>
</table>


<h2>Materials</h2>
<%if is_user_admin %>
	<%= link_to 'New Material', {:controller => "materials", :action => "new", :part_id => @part }, :class => 'btn primary'%>
<%end%>
<table class="zebra-striped">
	<tr>
		<th>Number</th>
		<th>Material EN</th>
		<th>Material FR</th>
		<th>Material ES</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% i = 0%>
	<% @part.materials.each do |material| %>
	<tr>
		<td><%= i += 1%></td>
		<td><%= truncate(material.material_en, :length => 20) %></td>
		<td><%= truncate(material.material_fr, :length => 20) %></td>
		<td><%= truncate(material.material_es, :length => 20) %></td>
		<td><%= link_to "Show", material_path(material)%></td>
		<td><%if is_user_admin %><%= link_to "Edit", edit_material_path(material) %><%end%></td>
		<td><%if is_user_admin %><%= link_to 'Delete', material, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
	</tr>
	<%end%>
</table>