<p id="notice"><%= notice %></p>

<p>
  <b>Name en:</b>
  <%= @part.name_en %>
</p>

<p>
  <b>Name fr:</b>
  <%= @part.name_fr %>
</p>

<p>
  <b>Name es:</b>
  <%= @part.name_es %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
