<h1><%= t 'user.login' %></h1>
<%= form_tag sessions_path, :class => "form-stacked" do %>
	<div class="clearfix">
		<%= label_tag :email, t('user.email') %>
		<div class="input">
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div class="clearfix">
		<%= label_tag :password, t('user.password') %>
		<div class="input">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="clearfix">
		<div class="input">
			<ul class="inputs-list">
				<li>
					<label>
						<%= check_box_tag :remember_me, 1, params[:remember_me] %> <%= t('user.remember') %>
					</label>
				</li>
			</ul>
		</div>
	</div>
	<div class="actions">
	<%= submit_tag t('user.login'), :class => "btn primary" %>
	<%= link_to t('user.forgotten_password'), new_password_reset_path, :class => "btn" %>
	</div>
<% end %>