<h1>Log in!</h1>
<%= form_tag sessions_path do %>
	<div class="clearfix">
		<%= label_tag :email %>
		<div class="input">
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div class="clearfix">
		<%= label_tag :password %>
		<div class="input">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="clearfix">
		<%= label_tag :remember_me %>
		<div class="input" style="padding-top:5px;">
			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
		</div>
	</div>
	<div class="actions">
	<%= submit_tag "Log in", :class => "btn primary" %>
	<%= link_to "Forgotten Password", new_password_reset_path, :class => "btn" %>
	</div>
<% end %>