<h1>Courses</h1>
<%if is_user_admin %>
	<%= link_to 'New Course', {:controller => "courses", :action => "new"}, :class => 'btn primary'%>
<%end%>
<table>
	<tr>
		<th>Name EN</th>
		<th>Name FR</th>
		<th>Name ES</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @courses.each do |course| %>
	<tr>
		<td><%= course.course_name_en %></td>
		<td><%= course.course_name_fr %></td>
		<td><%= course.course_name_es %></td>
		<td><%= link_to 'View', course_path(course)%></td>
		<td><%if is_user_admin %><%= link_to 'Edit', edit_course_path(course)%><%end%></td>
		<td><%if is_user_admin %><%= link_to 'Delete', course, :confirm => 'Are you sure?', :method => :delete %><%end%></td>
	</tr>
	<%end%>
	
</table>