<%= form_for @material, :html => {:class => 'form-stacked'} do |f| %>
<% if @material.errors.any? %>
<div id="error_explanation">
     <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>
     <ul>
     	<% @material.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
	<%end%>
  </ul>
   </div>
<% end %>
<div class="field">
	<%= f.label :material_en, "Material EN" %>
	<%= f.text_area :material_en, :rows => 10 %>
</div>

<div class="field">
	<%= f.label :material_fr, "Material FR"%>
	<%= f.text_area :material_fr, :rows => 10 %>
</div>

<div class="field">
	<%= f.label :material_es, "Material ES" %>
	<%= f.text_area :material_es, :rows => 10 %>
</div>

<%= f.hidden_field :part_id, :value => @part.nil? ? @material.part_id : @part.id %>

<div class="actions">
	<%= f.submit :class => 'btn primary' %>
</div>
<% end %>